.container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #96EFFF;
}

.sidebar {
    width: 15%;
    padding: 20px;
    background-color: #96EFFF;
    border-radius: 12px 0 0 12px;
}

.main {
    width: 85%;
    padding: 20px;
    background-color: #fefefe;
    border-radius: 12px 0 0 12px;
}